@page "/system-code-detail/edit/{id:int}"
@using StudentsManagementBlazor.Client.Services;
@using StudentsManagementBlazor.Shared.Models
@using StudentsManagementShared.Models
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<h3>Edit System Codes Details List</h3>
<hr />
<div class="row">
	<div class="com-md-12">
		<EditForm Model="systemcodeDetailobj" OnValidSubmit="UpdateSystemCodeDetail" FormName="updateSystemCodeDetail">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Code</label>
							<InputText for="Code" class="form-control" @bind-Value="@systemcodeDetailobj.Code" />
							<ValidationMessage For="()=>systemcodeDetailobj.Code" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Description</label>
							<InputText for="Description" class="form-control" @bind-Value="@systemcodeDetailobj.Description" />
							<ValidationMessage For="()=>systemcodeDetailobj.Description" />
						</div>
					</div>
				</div>
				<div class="form-group mt-4">
					<button type="submit" class="btn btn-primary">Update System Code</button>
					<button type="button" @onclick="Cancel" class="btn btn-danger">Cancel</button>
				</div>
			</div>
		</EditForm>
	</div>
</div>

@code {
	[SupplyParameterFromForm]
	public SystemCodeDetail systemcodeDetailobj { get; set; } = new();

	[Parameter]
	public int id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await LoadSystemCodeDetail();
	}

	private async Task LoadSystemCodeDetail()
	{
		systemcodeDetailobj = await SystemCodeDetailService.GetByIdAsync(id);
	}

	protected async Task UpdateSystemCodeDetail()
	{
		var result = await SystemCodeDetailService.UpdateAsync(systemcodeDetailobj);

		navigation.NavigateTo("/systemcodesdetails-list");
	}
	public void Cancel()
	{
		navigation.NavigateTo("/systemcodesdetails-list");
	}
}
