@page "/add-department"
@using StudentsManagementBlazor.Client.Services;
@using StudentsManagementBlazor.Shared.Models
@using StudentsManagementShared.Models
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime

<h3>Add Department</h3>

<div class="row">
	<div class="com-md-12">
		<EditForm Model="departmentobj" OnValidSubmit="CreateDepartment" FormName="addDepartment">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Department Code</label>
							<InputText for="Code" class="form-control" @bind-Value="@departmentobj.Code" />
							<ValidationMessage For="()=>departmentobj.Name" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Department Name</label>
							<InputText for="Name" class="form-control" @bind-Value="@departmentobj.Name" />
							<ValidationMessage For="()=>departmentobj.Name" />
						</div>
					</div>
				</div>
				<div class="form-group mt-4">
					<button type="submit" class="btn btn-primary">Save Department</button>
					<a class="btn btn-danger" href="/departments-list">Cancel</a>
				</div>
			</div>
		</EditForm>
	</div>
</div>

@code {
	[SupplyParameterFromForm]
	public Department departmentobj { get; set; } = new();

	protected async Task CreateDepartment()
	{
		departmentobj.CreatedOn = DateTime.Now;

		var result = DepartmentService.AddAsync(departmentobj);

		navigation.NavigateTo("/departments-list");
	}
}
